@charset "ISO-8859-1";

h1 {
	margin-left: 700px;
	color: #6c2eb9; font-weight : normal;
	font-size: 40px;
	font-family: Arial;
	text-transform: uppercase;
	font-weight: normal;
}

.home {
	margin-top: 20px;
	margin-left: 200px;
	color: #6c2eb9;
	font-weight: normal;
	font-size: 20px;
	font-family: Arial;
	text-transform: uppercase;
	position: absolute;
}

.logout {
	margin-top: 20px;
	margin-left: 1200px;
	color: #6c2eb9;
	font-weight: normal;
	font-size: 20px;
	font-family: Arial;
	text-transform: uppercase;
	position: absolute;
}