@charset "ISO-8859-1";

body {
    background-color: #78aa99;
  }


  .form {
    background: #fff;
    box-shadow: 0 30px 60px 0 rgba(250, 199, 220, 0.904);
    border-radius: 5px;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 50px;
    left: 50px;
    right: 50px;
    position: absolute;
    border-top: 5px solid #9bdfbb;
    animation: bounce 1.5s infinite;
    border-radius: 20px;
  }
  ::-webkit-input-placeholder {
    font-size: 1.3em;
  }
  
  .title{
    display: flex;
    font-family: sans-serif;
    margin: 10px auto 5px;
    width: 300px;
    color: rgb(71, 133, 104);
  }
  
  .pageTitle{
    display: center;
    font-size: 2em;
    font-weight: bold;
  }
  .secondaryTitle{
    color: rgb(180, 104, 104);
  }
  
  
  .message {
    background-color: #e2bba9;
    overflow: hidden;
    height: 10rem;
  }
  
  .message:hover {
    border-bottom: 5px solid #92d1b0;
    height: 12em;
    width: 380px;
    transition: ease 0.5s;
  }
  
  .formEntry {
    display: block;
    margin: 30px auto;
    min-width: 300px;
    padding: 10px;
    border-radius: 20px;
    border: none;
    transition: all 0.5s ease 0s;
  }
  
  
  .submit {
    width: 200px;
    background-color: #b8e9cf;
    font-size: 20px;
  }
  
  .submit:hover {
    box-shadow: 15px 15px 15px 5px rgba(250, 234, 246, 0.897);
    transform: translateY(-3px);
    width: 300px;
    border-top: 5px solid rgb(180, 104, 104);;
    border-radius: 0%;
  }
  a:link{
      text-decoration: none;
      color: rgb(71, 133, 104);
  }
  
  @keyframes bounce {
    0% {
      tranform: translate(0, 4px);
    }
    50% {
      transform: translate(0, 8px);
    }
}



.home {
	margin-top: 10px;
	margin-left: 20px;
	color: #6c2eb9;
	font-weight: normal;
	font-size: 20px;
	font-family: Comic Sans MS, Comic Sans, cursive;
	text-transform: uppercase;
	position: absolute;
	
}

.logout {
	margin-top: 10px;
	margin-left: 1300px;
	color: #6c2eb9;
	font-weight: normal;
	font-size: 20px;
	font-family: Comic Sans MS, Comic Sans, cursive;
	text-transform: uppercase;
	position: absolute;
	
}