@charset "ISO-8859-1";
.encabezado {
	height: 200px;
	width:100%; 
	background-color: #A2D9CE;
	flex-direction: column;
	min-height: 20%;
	display:inline-block;

}

.home{
	
	padding-left: 3px;
	margin-top: 30px;
	margin-left: 50px;
	width: 200px;
	height: 40px;
	border-radius: 6px/10px;
	background-color: #E8F6F3;
	-webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	-moz-box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	border: solid 3px #cbc9c9;
	Text-align: center;
	font: Arial  150%;
	font-size: 20px;
	line-height: 200%;
	color:black;
	position: absolute;
}
.logout{
	
	padding-left: 3px;
	margin-top: 30px;
	margin-left: 1110px;
	width: 200px;
	height: 40px;
	border-radius: 6px/10px;
	background-color: #E8F6F3;
	-webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	-moz-box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	border: solid 3px #cbc9c9;
	Text-align: center;
	font: Arial  150%;
	font-size: 20px;
	line-height: 200%;
	color:black;
	position: absolute;
}

.admin {
	padding-left: 3px;
	margin-top: 20px;
	margin-left: 600px;
	width: 150px;
	height: 150px;
	border-radius: 6px/10px;
	background-color: #E8F6F3;
	-webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	-moz-box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	border: solid 3px #cbc9c9;
	Text-align: center;
	font: Arial 150%;
	font-size: 100px;
	line-height: 150%;
	color: black;
	border-radius : 50%;
	position: absolute;
}

.añadirpregunta{
	
	padding-left: 3px;
	margin-top: 100px;
	margin-left: 50px;
	width: 200px;
	height: 40px;
	border-radius: 6px/10px;
	background-color: #E8F6F3;
	-webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	-moz-box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	border: solid 3px #cbc9c9;
	Text-align: center;
	font: Arial  150%;
	font-size: 20px;
	line-height: 200%;
	color:black;
	position: absolute;
	
}