@charset "ISO-8859-1";

.user1 {
	padding-left: 5px;
	margin-top: 150px;
	margin-left: 100px;
	width: 500px;
	height: 80px;
	border-radius: 10px/20px;
	background-color: #FEF5E7;
	-webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	-moz-box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	border: solid 3px #cbc9c9;
	Text-align: center;
	font: Arial black;
	font-size: 40px;
	line-height: 200%;
	position: absolute;
	
}

.user2 {
	padding-left: 10px;
	margin-top: 150px;
	margin-left: 900px;
	width: 500px;
	height: 80px;
	border-radius: 10px/20px;
	background-color: #FEF5E7;
	-webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	-moz-box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	border: solid 3px #cbc9c9;
	Text-align: center;
	font: Arial;
	font-size: 40px;
	line-height: 200%;
	text-decoration: none;
	cursor: pointer;
	position: absolute;
}

.user3 {
	padding-left: 10px;
	margin-top: 350px;
	margin-left: 100px;
	width: 500px;
	height: 80px;
	border-radius: 10px/20px;
	background-color: #FEF5E7;
	-webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	-moz-box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	border: solid 3px #cbc9c9;
	Text-align: center;
	font: Arial;
	font-size: 40px;
	line-height: 200%;
	text-decoration: none;
	cursor: pointer;
	position: absolute;
}

.user4 {
	padding-left: 10px;
	margin-top: 350px;
	margin-left: 900px;
	width: 500px;
	height: 80px;
	border-radius: 10px/20px;
	background-color: #FEF5E7;
	-webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	-moz-box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	border: solid 3px #cbc9c9;
	Text-align: center;
	font: Arial;
	font-size: 40px;
	line-height: 200%;
	text-decoration: none;
	cursor: pointer;
}

.home {
	padding-left: 3px;
	margin-top: 30px;
	margin-left: 50px;
	width: 200px;
	height: 40px;
	border-radius: 6px/10px;
	background-color: #E8F6F3;
	-webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	-moz-box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	border: solid 3px #cbc9c9;
	Text-align: center;
	font: Arial 150%;
	font-size: 20px;
	line-height: 200%;
	color: black;
	position: absolute;
}

.logout {
	padding-left: 5px;
	margin-top: 35px;
	margin-left: 1200px;
	width: 200px;
	height: 40px;
	border-radius: 6px/10px;
	background-color: #E8F6F3;
	-webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	-moz-box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	border: solid 3px #cbc9c9;
	Text-align: center;
	font: Arial 150%;
	font-size: 20px;
	color: black;
	line-height: 200%;
	position: absolute;
}

.encabezado {
	background-color: #A2D9CE;
	display: flex;
	flex-direction: column;
	min-height: 20%;
}

.cuerpo {
	background-color: #E8F6F3;
	display: flex;
	flex-direction: column;
	min-height: 100%;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
}

.admin {
	padding-left: 3px;
	margin-top: 10px;
	margin-left: 500px;
	width: 200px;
	height: 200px;
	border-radius: 6px/10px;
	background-color: #E8F6F3;
	-webkit-box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	-moz-box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	box-shadow: 2px 3px 6px rgba(0, 0, 0, .31);
	border: solid 3px #cbc9c9;
	Text-align: center;
	font: Arial 150%;
	font-size: 70px;
	line-height: 250%;
	color: black;
	border-radius: 50%;
	position: absolute;
}

